
#register label{
	margin-right:5px;
}
#register input {
	padding: 5px 14px;
	border: 1px solid #d5d9da;
	width: 300px;
	font-size: 1em;
	height: 25px;
}
#register .short{
    /*font-weight:bold;*/
    border-radius: 7px;
	color:#FF0000;
	font-size:medium;
}
#register .weak{
/*    font-weight:bold;*/
	border-radius: 7px;
	color:orange;
	font-size:medium;
}
#register .good{
/*    font-weight:bold;
*/	color:#2D98F3;
	font-size:medium;
	border-radius: 7px;
}
#register .strong{
/*    font-weight:bold;
*/	color: limegreen;
	font-size:medium;
	border-radius: 7px;
}

